<nav class="navbar navbar-expand-lg navbar-light  bg-light ml-3">
  <a class="navbar-brand" href="#">Dalton</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  " id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_article' %}">Write</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout'  %}">Logout</a>
      </li>
      <li class="nav-item float-end">
        <a class="nav-link" href="{% url 'plan-list' %}">Upgrade To Plus</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-3">
      <li class="nav-item">
        <a class="nav-link" href=""><b>Hello, {{ request.user.username }}</b></a>
      </li>

    </ul>
  </div>
</nav>